<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ElObrador.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />		
    </startup>
	<appSettings>
		<add key="AppLogoEscala" value="10" />
		<add key="AppLogotipo" value="icono_Obrado1.png" />
		<add key="AppLogotipoRepaciones" value="ElObradoEncabezado2.png" />
    <add key="AppLogotipoRepacionesDos" value="icono_Obrado1.png" />
		<add key="AppRutaReporte" value="reporte\" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
    <userSettings>
        <ElObrador.Properties.Settings>
            <setting name="db" serializeAs="String">
                <value>server=localhost; Port=3306;User Id=root;password=admin;database=obrador_desarrollo;Persist Security Info=True</value>
            </setting>
        </ElObrador.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>